basePath: /api/v1
definitions:
  github_com_asliddinberdiev_eirsystem_internal_dto.SignInRequest:
    properties:
      password:
        minLength: 6
        type: string
      username:
        maxLength: 255
        minLength: 3
        type: string
    required:
    - password
    - username
    type: object
  Response:
    properties:
      code:
        type: integer
      data: {}
      error: {}
      message:
        type: string
      request_id:
        type: string
      success:
        type: boolean
    type: object
host: localhost:8080
info:
  contact:
    name: Asliddin Berdiev
    url: https://github.com/asliddinberdiev
  title: EIR System API
  version: v1
paths:
  /auth/sign-in:
    post:
      consumes:
      - application/json
      description: SignIn
      parameters:
      - description: SignIn Request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_asliddinberdiev_eirsystem_internal_dto.SignInRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Response'
      summary: SignIn
      tags:
      - auth
  /users:
    get:
      consumes:
      - application/json
      description: Fetch list of users
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Response'
      summary: Get users
      tags:
      - users
swagger: "2.0"
